*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#main{
  border: 11px solid rgb(28, 29, 74);
    margin-left: 18%;
    width: 67%;
    height: 107vh;
    background-color: rgb(229, 229, 253);
}
.quaid{
  background-color: #E5E5FD;
  mix-blend-mode: multiply;
  position: relative;
  top: 22px;
  left: 20px;
}
.head{
  position: relative;
  bottom: 8%;
  left: 7%;
  font-family: monospace;
  font-size: 22px;
  font-weight: bold;
}
.birth{
  position: relative;
  right: 3%;
  bottom: 5%;
  font-size: 17px;
  font-family: system-ui;
  font-weight: 500;
}