h1{
  background-color: #DFDFDF;
  padding: 20px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: sans-serif;
}
#blue{
  padding: 20px;
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #0685DA;
}
#blue1{
  padding: 20px;
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #0685DA;
  opacity: 0.9;
}
#blue2{
  padding: 20px;
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #0685DA;
  opacity: 0.8;
}
#blue3{
  padding: 20px;
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #0685DA;
  opacity: 0.7;
}
#blue4{
  padding: 20px;
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #0685DA;
  opacity: 0.6;
}
#blue5{
  padding: 20px;
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #0685DA;
  opacity: 0.5;
}
#blue6{
  padding: 20px;
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #0685DA;
  opacity: 0.4;
}
#blue7{
  padding: 20px;
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #0685DA;
  opacity: 0.3;
}
#blue8{
  padding: 20px;
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #0685DA;
  opacity: 0.2;
}
#green{
  background-color: #00BD87;
  padding: 20px;
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
}
#pink{
  background-color: #F33A80;
  padding: 20px;
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
  opacity: 0.3;
}
#pink1{
  background-color: #F33A80;
  padding: 20px;
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
  opacity: 0.4;
}
#pink2{
  background-color: #F33A80;
  padding: 20px;
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
  opacity: 0.5;
}
#pink3{
  background-color: #F33A80;
  padding: 20px;
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
  opacity: 0.6;
}
#pink4{
  background-color: #F33A80;
  padding: 20px;
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
  opacity: 0.7;
}
#pink5{
  background-color: #F33A80;
  padding: 20px;
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
  opacity: 0.8;
}
#pink6{
  background-color: #F33A80;
  padding: 20px;
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
  opacity: 0.9;
}
#pink7{
  background-color: #F33A80;
  padding: 20px;
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
  opacity: 1;
}
