*{
  margin: 0;
  padding: 0;
  text-align: center;
}
h1{
  margin-top: 30px;
  margin-bottom: 20px;
}
hr{
  margin-bottom: 20px;
}
p{
  margin-bottom: 20px;
}
h3{
  margin-bottom: 25px;
}
h2{
  margin-bottom: 15px;
}
img{
  height: 120px;
}