:root {
  --bs-tertiary-bg-rgb: 248, 249, 0 !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  height: 24px;
}

.arabic {
  font-weight: 600;
  font-family: Cairo;
  cursor: pointer;
}

.nav-border {
  display: flex;
  margin: 0px 10px;
  border-left: 1px solid rgba(64, 69, 83, 0.3);
  height: 20px;
  align-self: center;
}

.navbar-text {
  font-weight: bold;
  flex: 1 1 0%;
  font-size: 1.08333rem;
  text-align: right;
  max-width: 130px;
  position: relative;
  bottom: 2px;
}

.log-in-img {
  width: 17px;
  margin-left: 8px;
  position: relative;
  bottom: 2px;
}

.all-categories {
  width: 15%;
}

.mynavbottom {
  width: 85%;
}

.liststyletypenone {
  list-style-type: none;
}

.second-nav {
  background-color: #fcfbf4;
}

.drop-end {
  margin-left: 5px;
  background-color: #fcfbf4;
  border: none;
  font-size: 17px;
}

.notextdeco {
  text-decoration: none;
  color: inherit;
}

.bold-on-hover:hover {
  font-weight: bold;
}

.left-banner{
  width: 70%;
}

.right-banner{
  width: 30%;
}

.r-b-images{
  width: 49%;
}













































@media (max-width: 1280px) {
  html{
      font-size: 95%;
  }
}
@media (max-width: 1200px) {
  html{
      font-size: 90%;
  }
}
@media (max-width: 1100px) {
  html{
      font-size: 85%;
  }
}
@media (max-width: 1000px) {
  html{
      font-size: 80%;
  }
}
@media (max-width: 1100px) {
  .han {
      display: none;
  }
}

@media (max-width: 958px) {
  .sp {
      display: none;
  }

  .nav-side-div {
      width: 17%;
  }
}

@media (max-width: 867px) {
  .nav-side-div {
      width: 20%;
  }

  .to {
      display: none;
  }
}

@media (max-width: 764px) {
  .nav-side-div {
      width: 23%;
  }

  .ba {
      display: none;
  }

  .drop-end {
      margin-left: 4px;
  }
}

@media (max-width: 688px) {
  .nav-side-div {
      width: 35%;
  }

  .baf {
      display: none;
  }
}

@media (max-width: 511px) {
  .nav-side-div {
      width: 45%;
  }
}

@media (max-width: 511px) {
  .nav-side-div {
      width: 50%;
  }

  .wom {
      display: none;
  }
}

@media (max-width: 412px) {
  .nav-side-div {
      width: 65%;
  }
}

@media (max-width: 412px) {
  .nav-side-div {
      width: 75%;
  }

  .mn {
      display: none;
  }
}