:root{
  --black: #000000;
  --white: #ffffff;
  --red:   #ed1c24;
  --green: #28a745;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --secondary: #6c757d;
  --dark: #343a40;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: var(--black);
  color: var(--white);
}
.notextdeco{
  text-decoration: none;
  color: inherit;
}
.listtypenone{
  list-style-type: none;
}
#logo{
  height: 75px;
}
#header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0px 20px 0px;
}
.navbar{
  display: flex;
  gap: 40px;
  font-size: 16px;
  font-weight: 600;
  flex-wrap: wrap;
  justify-content: center;
}
.navbar-items{
  display: flex;
  gap: 30px;
}
#buttons{
  display: flex;
  gap: 30px;
}
#firstbutton{
  padding: 16px 20px 16px 20px;
  border: 1px solid var(--white);
  border-radius: 25px;
}
#secondbutton{
  background-color: var(--red);
  color: var(--white);
  border: none;
  padding: 16px 22px 16px 22px;
  border-radius: 25px;
}
#firstbutton:hover{
  color: var(--white);
  background-color: var(--red);
  border: none;
}
#secondbutton:hover{
  color: var(--white);
  background-color: var(--black);
  border: 1px solid var(--white);
}
#banner{
  width: 100%;
}
.hover:hover{
  color: var(--red);
}
#welcome-outside{
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding-bottom: 10%;
}
#welcome-main{
  width: 80%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
#welcome-text{
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 2px;
  display: block;
  line-height: 50px;
}
.logo-text{
  font-size: 52px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 62px;
  color: var(--red);
}
.order-now{
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 174px;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 37px;
  text-align: center;
}
.order-now:hover{
  border: none;
  background-color: var(--red);
}
.order-images-list{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#product-brand{
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}
.order-images{
  background-color: var(--white);
  border-radius: 5px;
  padding: 5px 19px;
  width: 250px;
  height: 140px;
}
#product-brand-main{
  width: 80%;
  margin: auto;
  text-align: center;
}
#first-franchise-outside{
  background-color: rgba(255, 255, 255, 0.06);
  padding-top: 5%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
#large-s{
  position: absolute;
  right: 32px;
  top: 32px;
  width: 23%;
}
#first-franchise-main-text{
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 13px;
  width: 80%;
  margin: 0 auto;
  align-items: center;
}
.franchise-text{
  font-size: 52px;
}
.franchise-text2{
  font-size: 48px;
}
.welcome-description{
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.7);
}
#first-franchise-main{
  width: 85%;
  margin: 0 auto;
  text-align: center;
}
#first-franchise-main-side-text-one{
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.48em;
  color: var(--red);
  margin-bottom: 8px;
  display: block;
}
#first-franchise-main-first{
  display: flex;
  justify-content: space-between;
}
#first-franchise-main-side-text-two-a{
  font-weight: 400;
  font-size: 32px;
  line-height: 29px;
  text-align: center;
  color: #FFFFFF;
}
#first-franchise-main-side-text-two{
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 24px;
}
#first-franchise-main-side{
  text-align: left;
}
.banner{
  width: 100%;
}
.product_brand_section{
  text-align: center;
}
.main_custom_heading-second h2{
  margin-top: 1%;
}
.h21line{
  font-family: system-ui;
  font-size: 27px;
  font-weight: 100;
}
.bold{
  font-weight: 600;
  font-size: 40px;
}
.h23line{
  font-family: system-ui;
  font-size: 27px;
  font-weight: 100;
}
.p{
  font-family: system-ui;
}
.product-brand-main{
  width: 100%;
}
.product_brand_figure_box1{
  display: flex;
  width: 304px;
  object-fit: contain;
  height: 96%;
  background-color: #ffff;
  padding: 0px 19px;
  border-radius: 3px;
}